.navButton {
    text-transform: none;

    &:hover {
        background-color: transparent !important;
        background: transparent !important;
    }
}

.navButtonText {
    border-bottom: 0px solid transparent;

    &:hover {
        border-bottom: 1px solid #000000 !important;
        transition: border-bottom 0.5s ease-in-out !important; //did not worked
    }
}

.appBar {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    position: relative;
    color: #ffffff;
    background-color: #ffffff!important;
    overflow: visible;
    .toolbar{
        max-width: 1400px;
    }
}

.drawerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    border: 1px solid blue;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.318);
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: -1;
    padding-top: 80px;
    &.drawerMenuOpen {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
        z-index: -1;
    }

    &.drawerMenuClose {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
        pointer-events: none;
    }
}