.bottomSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding-top: 36px;
    margin-top: 36px;
    border-top: 1px solid #4F4F4F;
  
}

.bottomLinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    &List {
        display: flex;
        gap: 16px;
    }

    &Language {
        display: flex;
        gap: 16px;
        cursor: pointer;
    }
}

@media (max-width: 940px) {
    .bottomLinks {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 440px) {
    .bottomLinksList {
        gap: 8px;
        flex-direction: column;
    }
}