.appBar {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
    background-color: #ffffff !important;
    overflow: visible;

    .toolbar {
        display: flex;
        gap: 32px;
        align-items: center;
        max-width: 1180px;
        width: 100%;
    }



    .navButton {
        text-transform: none;

        &:hover {
            background-color: transparent !important;
            background: transparent !important;
        }
    }

    .navButtonText {
        border-bottom: 0px solid #000000;

        &:hover {
            border-bottom-width: 1px !important;
            transition: border-bottom 0.5s ease-in-out !important;
        }
    }
}
.navbarMenuItems {
    display: flex;
    flex-grow: 1;
    gap: 1;
}
.drawerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.318);
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: -1;
    padding-top: 80px;

    &.drawerMenuOpen {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
        z-index: -1;
    }

    &.drawerMenuClose {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
        pointer-events: none;
    }
}

.warningAnimation {
    order: 3;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(14, 185, 179);
    margin-left: 4px;
    margin-bottom: 4px;
    align-self: center;
    animation: 2s ease 0s infinite normal none running pulse;

}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



//add media query for 852px
@media (max-width: 940px) {
    .customPacketButton{
        display: none;
    }
    .toolbar{
        justify-content: space-between;
    }
}
@media (max-width: 756px) {

    .navbarMenuItems {
        width: 100%;
        display: none;
    }
}
@media (max-width: 600) {

    .toolbar{
        width: 100%;
        padding: 0 16px!important;
    }
}