.customPacket {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding: 100px 24px 96px !important;
    border: 1px solid red;
    &Container {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0px;
        gap: 7.625rem;
    }
}