.customPacket {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding: 100px 24px 96px !important;
    &Container {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0px;
        gap: 7.625rem;
    }
}

@media (max-width: 1024px) {
    .customPacketContainer {
        gap: 2rem;
    }
}
@media (max-width: 900px) {
    .customPacketContainer {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .customPacketContainer {
        flex-direction: column;
    }
}